## Nested List 

> #### Problem statement

Given the names and grades for each student in a class of `N`students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

<b>Note:</b> If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

#### Example :
`records = [['chi',  20.0],['beta', 50.0],['alpha', 50.5]]`

The ordered list of scores is `[20.0,50.0]` , so the second lowest score is `50.0` . There are two students with that score: `['beta', 'alpha']`Ordered alphabetically, the names are printed as:

`alpha
 beta`
 
 <b>Input Format</b>

The first line contains an integer,`N`,the number of students.
The `2N` subsequent lines describe each student over `2`lines.
- The first line contains a student's name.
- The second line contains their grade. 

#### Constraints

+ `2 <= N <= 5`

+ There will always be one or more students having the second lowest grade. 

<b>Output Format :</b>

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

<b>Sample Input 0</b>

`5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
`
<b>Sample Output 0</b>

`Berry
 Harry
`
<b>Explanation 0</b>

There are `5` students in this class whose names and grades are assembled to build the following list:
`python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]] `

The lowest grade of `37.2` belongs to Tina. The second lowest grade of `37.21`belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [ ]:
marksheet = []
n = int(input())
marks = float(input())
name = input()

# n = int(input())
# marksheet = [[input(), float(input())] for _ in range(n)]

for _ in range(0, n):
    marksheet.append([name, marks])
    
second_lowest = sorted(list(set(marks for name,marks in marksheet)))[1]
print('\n'.join([name for name,marks in sorted(marksheet) if marks == second_highest]))

#### key points -

+ in the `marks for name,marks in marksheet`, we use list-comprehension, 
we took only `marks` for every `(names, marks)` in `marksheet`

+ to find second lowest marks in the `marksheet` list, we first eliminate the repetating items in the list using `set()` function, then we sort the entire `marksheet` for only `marks`, and then `[1]` is for the second-lowest item in the list ;

+ similarly for output we only took the `name` in `marksheet`

+ lastly `join()` used only to add space between two consecutive output

#### some testing codes :p

In [ ]:
#test 

list = ['ajhj','GgHF','fIOIOIhj','FYISBXCQ','dqrs','zaqq','Ajgg']
print(sorted(list)) # upper-case strings gets priority, alphabetically

In [ ]:
print(sorted(list, reverse = True, ))

In [ ]:
# test 2

new_list = [23,5,43,78,97,1,2,34,56,5,78,97,23,23,23]
length = len(new_list)
new_list.sort()

# largest
print(new_list[-1])

#smallest
print(new_list[0])

#second smallest
print(new_list[1])

print(set(new_list))

print(list[set(new_list)])

In [ ]:
my_set = {'Geeks', 'for', 'geeks'}
  
s = list(my_set)
print(s)

In [ ]:
'''
n = int(input())
record = []

for i in range(n):
    name = input()
    score = float(input())
    record.append([name, score])
    
    record = dict(record)
    scores = sorted(set(record.values()))
    
    second_lowest = scores[1]
    
    second_lowest_students = [name for name, score in scores if score == second_lowest]
    
    for name in second_lowest_students:
        print(name)

'''

In [ ]:
"""
no_of_students = int(input())
records = []
for i in range(no_of_students):
    name = input()
    score = float(input())
    records.append([name, score])
records = dict(records)
scores = sorted(set(records.values()))
second_lowest_score = scores[1]
second_lowest_students = [score for name,score in records if score==second_lowest_score]
second_lowest_students.sort()
for name in second_lowest_students:
    print(name)

"""

In [ ]:
marksheet = []
n = int(input())
marks = float(input())
name = input()

for _ in range(0, n):
    marksheet.append([name, marks])
    
second_lowest = sorted(list(set(marks for name,marks in marksheet)))[1]
print(name for name,marks in sorted(marksheet) if marks == second_lowest)